<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="highscore_modal">
  	<div class="modal-dialog modal-sm">
    	<div class="modal-content">
    		<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">
		        	<span aria-hidden="true">&times;</span>
		        	<span class="sr-only">Close</span>
		        </button>
		        <div>
		        	<h4 class="modal-title">You're done! Your score is: <%= @yourgame.score %></h4>
		        </div>
		        <div>
		        	Enter your initials: <%= text_field_tag(:yourinitials) %>
		        	<input type='hidden' id='game_id' value=<%= @yourgame.id %>>
		        	<button id='saveinitials'>Submit</button>
		        </div>
		    </div>
		    <div class="modal-body">
		    	<h5>HIGH SCORES</h5>
				<table class='high_scores'>
					<% @highscores.each_with_index do |highscore, index| %>
						<tr>
							<td><%= index + 1 %>.</td> 
							<td><%= highscore.score %></td>
							<td><%= @yourgame.id == highscore.id ? 'YOU' : highscore.yourinitials %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>

<button></button>